<!-- Modal - Show password entry -->
<div class="modal fade" id="showPasswordEntryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="showPasswordEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="showPasswordEntryModalLabel" th:text="${passwordEntry.getTitle()}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form th:action="@{/password-entry}" th:object="${newPasswordEntry}" method="post">
            <input type="hidden" name="_method" value="put">
            <!-- <input type="hidden" name="directoryId" th:value="${directory.getId()}"> -->
            <div class="modal-body">

                <div id="show-password-entry-field-form-rows">

                    <div class="mb-5">
                        <label for="newNameInput" class="form-label">Titel</label>
                        <input type="text" id="showUpdateTitleInput" class="form-control" th:value="${passwordEntry.getTitle()}" required>
                    </div>

                    <div class="row mb-3" th:each="passwordEntryField: ${passwordEntry.getPassword_entity_fields()}">
                        <div class="col-sm-4">
                            <label for="">Veldnaam</label>
                            <input type="text" id="" name="showPasswordEntryFields[]" th:value="${passwordEntryField.getField_name()}" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label for="">Waarde</label>
                            <input type="text" id="" name="showPasswordEntryValues[]" th:value="${passwordEntryField.getValue()}" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label for="">Veldtype</label>
                            <select class="form-select" name="passwordEntryTypes[]" id="" required>
                                <option value="TEXT" th:selected="${passwordEntryField.getDatatype() == TEXT}">Tekst</option>
                                <option value="PASSWORD" th:selected="${passwordEntryField.getDatatype() == PASSWORD}">Wachtwoord</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary btn-sm" id="show-password-entry-field-add-form-row"><i class="fas fa-plus"></i></button>
                </div>
                
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Sluiten</button>
            <button type="submit" class="btn btn-primary btn-sm">Opslaan</button>
            </div>
        </form>
    </div>
    </div>
</div>