version: '3.9'
services: 
    app:
        container_name: passman-app
        build: app
        ports: 
            - 8080:8080
        env_file: ./db/.env.dev
        networks: 
            - passman
        depends_on: 
            - db
    db:
        container_name: passman-db
        image: mysql:5.7
        restart: always
        volumes: 
            - ./db/db-data:/var/lib/mysql
        networks: 
            - passman
        env_file: ./db/.env.dev
        environment: 
            MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
networks: 
    passman:
