<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/base :: header"></head>
<body>

    <div class="wrapper">

        <div th:include="fragments/base :: sidebar"></div>

        <div id="content">

            <div class="container mt-5">
                <div class="row">

                    <div class="col-sm-8 mx-auto">

                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="h5" th:text="${directory.getName()}"></h5>

                            <form th:action="@{/directory/{id}(id=${directory.getId()})}" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button class="btn btn-outline-danger btn-sm "><i class="fas fa-trash"></i></button>
                            </form>
                        </div>

                        <div class="card-body shadow-sm bg-white">
                            <form th:action="@{|/directory/${directory.getId()}|}" th:object="${directory}" method="post">
                                <input type="hidden" name="_method" value="put">
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Naam</label>
                                    <input type="text" name="" id="nameInput" class="form-control" th:field="*{name}" th:value="${directory.getName()}" required>
                                </div>

                                <div class="mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="isActiveInput" th:field="*{is_active}" th:checked="${directory.isIs_active()}">
                                        <label class="form-check-label" for="isActiveInput">Actief</label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-sm">Opslaan</button>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="row mt-5">

                    <div class="col-sm-8 mx-auto">

                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="h5">Password entries</h5>

                            <button class="btn btn-outline-primary btn-sm" th:disabled="!${directory.isIs_active()}" data-bs-toggle="modal" data-bs-target="#addPasswordEntryModal"><i class="fas fa-plus"></i></button>
                        </div>

                        <div class="row mb-4" th:each="passwordEntryList: ${passwordEntries}" th:if="${!passwordEntryList.isEmpty()}">
                            <div class="col-sm-4" th:each="passwordEntry: ${passwordEntryList}" th:if="${passwordEntry}">
                                
                                <div class="card-body shadow-sm" th:data-id="${passwordEntry.getId()}" th:id="'password-entry-id-' + ${passwordEntry.getId()}" th:classappend="${directory.isIs_active()} ? 'bg-white password-entry-card-text' : 'bg-light text-muted'">
                                    <div class="d-flex justify-content-between align-items-center">
            
                                        <div th:text="${passwordEntry.getTitle()}"></div>

                                        <form th:action="@{|/password-entry/${passwordEntry.getId()}|}" method="post">
                                            <input type="hidden" name="_method" value="delete">
                                            <input type="hidden" name="directoryId" th:value="${directory.getId()}">
                                            <button class="btn btn-outline-danger btn-sm" th:disabled="!${directory.isIs_active()}"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div id="password-entry-show"></div>

            <!-- Modal - Add password entry -->
            <div class="modal fade" id="addPasswordEntryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addPasswordEntryModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="addPasswordEntryModalLabel">Password entry toevoegen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/password-entry}" th:object="${newPasswordEntry}" method="post">
                        <input type="hidden" name="directoryId" th:value="${directory.getId()}">
                        <div class="modal-body">

                            <div id="password-entry-field-form-rows">

                                <div class="mb-5">
                                    <label for="newNameInput" class="form-label">Titel</label>
                                    <input type="text" id="newTitleInput" class="form-control" th:field="*{title}" required>
                                </div>
        
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <label for="">Veldnaam</label>
                                        <input type="text" id="" name="passwordEntryFields[]" class="form-control">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="">Waarde</label>
                                        <input type="text" id="" name="passwordEntryValues[]" class="form-control">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="">Veldtype</label>
                                        <select class="form-select" name="passwordEntryTypes[]" id="" required>
                                            <option value="TEXT">Tekst</option>
                                            <option value="PASSWORD">Wachtwoord</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-primary btn-sm" id="password-entry-field-add-form-row"><i class="fas fa-plus"></i></button>
                            </div>
                            
                        </div>

                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Sluiten</button>
                        <button type="submit" class="btn btn-primary btn-sm">Toevoegen</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

        </div>
    </div>
    
    <div th:include="fragments/base :: javscripts"></div>
</body>
</html>