<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/base :: header"></head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 mx-auto">

                <h1 class="h3">Passman Login</h1>

                <div class="p-4 shadow bg-light">
                    <form th:action="@{/login}" method="post">
                        <div class="mb-3">
                            <label for="email">E-mailadres</label>
                            <input type="email" name="username" id="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password">Wachtwoord</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>

                <div class="alert alert-danger mt-3" th:if="${error != null}" th:text="${error}"></div>
                <div class="alert alert-info mt-3" th:if="${message != null}" th:text="${message}"></div>
        </div>
    </div>
    
    <div th:include="fragments/base :: javscripts"></div>
</body>
</html>