<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/base :: header"></head>
<body>

    <div class="wrapper">

        <div th:include="fragments/base :: sidebar"></div>

        <div id="content">

            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card-body shadow-sm bg-white">
                            <h5 class="h5">Aantal directories</h5>
                            <p th:text="${directories.size()}"></p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card-body shadow-sm bg-white">
                            <h5 class="h5">Aantal users</h5>
                            <p th:text="${users.size()}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div th:include="fragments/base :: javscripts"></div>
</body>
</html>